{% extends '::login.html.twig' %}

{% block title %}FORMULARIO DE ACCESO{% endblock %}

{% block titulobanner %}
    FORMULARIO DE ACCESO
{% endblock %}

{% block body %}
    <script type="text/javascript">
        if(navigator.appVersion.indexOf("MSIE 7.")!=-1){

        alert("Esta aplicación no funciona correctamente en internet explorer, por favor cambie a Chrome o Firefox.");

        $("#botonsubmit").css("display", "none");
    }
    </script>

    <p class="text-info"><marquee scrollamount="3">SE RECOMIENDA EL USO DE CHROME O FIREFOX</marquee></p>

    <h3><b>BIENVENIDOS AL SISTEMA DE CORRESPONSALÍAS</b></h3><br>
    
    {% block mensaje %}
        {% if error %}
            <div class="alert alert-warning" style="text-align: center;"><strong>Alerta!</strong> {{ error.message|trans() }}</div>
        {% endif %}
    {% endblock %}

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    

    

      <form class="form-signin" action="{{ path('usuario_login_check') }}" method="post">
        <h4 class="form-signin-heading">INGRESE SUS DATOS</h4>
        <input type="text" id="username" name="_username" class="input-block-level"placeholder="Ingrese usuario..." data-placement="right" data-content="Ante cualquier inconveniente, escríbenos a la siguiente dirección: aplicaciones@telesurtv.net" title="USUARIO">
        <input type="password" name="_password" class="input-block-level" placeholder="Ingrese clave...">


        <button class="btn btn-large btn-primary" type="submit" id="botonsubmit"
        {% if navegador=='IExplorer' %}
            disabled="disabled"
        {% endif %}
        >INGRESAR</button>
      </form>

    <br>

    <script>
        $('#username').popover();

        {% if navegador=='IExplorer' %}
            alert(' Esta aplicación no funciona correctamente en internet explorer, por favor ejecútela en otro navegador. El boton de inicio ha sido deshabilitado.')
        {% endif %}

    </script>


{% endblock %}