{% extends '::base.html.twig' %}


{% block title %}CORRESPONSALÍA - INICIO{% endblock %}

{% block titulobanner %}
    INICIO
{% endblock %}

    
{% block titulomodulo %}  
    <h2>BIENVENIDOS AL SISTEMA DE CORRESPONSALÍA</h2>
{% endblock %}
    
{% block body %}
    {{ parent()}}
    
{% endblock %}