{% extends 'CorresponsaliaBundle:Tecnologia/Ayuda:index.html.twig' %}

{% block contenedor %}
    {% block left %}
        <div id="column-left" class="col-md-3">
            <div id="menu-contenedor" class="list-group navbar-static-top">
                <ul id="menu">
                    <li><a href="#a" class="arrow_box list-group-item active">Crear</a></li>
                    <li><a href="#b" class="list-group-item">Editar</a></li>
                    <li><a href="#c" class="list-group-item">Visualizar</a></li>
                    <li><a href="#d" class="list-group-item">Eliminar</a></li>
                </ul>
            </div>
        </div>
    {% endblock %}    
    {% block rigth %}
        <div id="central" class="col-md-9 page-header" >
            {% block titulo %}
                <h1>Gestion de Marca</h1>
            {% endblock %}
            {% block contenido %}
                <div id="">
                	Cómo crear una nueva marca.
					Sigue estos pasos para crear una nueva marca:
					1. Ubique el menú Tecnología y seleccione la opción Marca
					2. Presione el botón Nueva Marca
					3. Introduzca el nombre de la nueva marca
					4. Presione Guardar y espere que aparezca el mensaje “Nueva! Marca agregada.”
                </div>
                <div id="">
                	Cómo editar una marca.
					Sigue estos pasos para editar una marca:
					1. Ubique el menú Tecnología y seleccione la opción Marca
					2. Busque la Marca a modificar mediante el filtro “Buscar” en la parte superior izquierda.
					3. Una vez encontrada la marca presione el icono “” ubicada a la izquierda del nombre.
					4. Realice las modificaciones al nombre de la marca.
					5. Presione Guardar y espere que aparezca el mensaje “Editada! Marca con éxito.”
                </div>
                <div id="">
                	Cómo visualizar la información detallada de una marca.
					Sigue estos pasos para visualizar detalles de una marca:
					1. Ubique el menú Tecnología y seleccione la opción Marca.
					2. Busque la marca a visualizar mediante el filtro “Buscar” en la parte superior izquierda.
					3. Una vez encontrada la marca presione el icono “” ubicada a la izquierda del nombre.
                </div>
                <div id="">
                	Cómo eliminar una marca.
					Sigue estos pasos para eliminar una marca:
					1. Ubique el menú Tecnología y seleccione la opción Marca.
					2. Busque la marca mediante el filtro “Buscar” en la parte superior izquierda.
					3. Una vez encontrada la marca presione el icono “” ubicada a la izquierda del nombre.
					4. Presione el botón y confirme si está seguro de querer eliminar la marca.
					5. Espere que aparezca el mensaje “Eliminada! Marca «Descripción de la marca»”.
                </div>
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}