/* 
Document               : general
Created on             : 18/01/2013, 04:39:14 PM
Author                 : jhoan
Description            :
Purpose of the stylesheet follows.
*/

*{
    font-family: Georgia;
}

body{
	background: url('../images/fondo.jpg');
/*background-color       :#efefef;*/
margin-top             :0;
font-size              :12px;
font-family            :VERDANA;
/*color                :#010341;*/
color                  :black;
line-height            :20px;

}
.contenedorprincipal{
	width: 1100px;
        box-shadow: 0px 2px 0px 2px #999;
        font-size: 14px;
        font-family: Georgia;
}


#contenedor{
background-color       :white;
width                  :1100px;
box-shadow: 0px 2px 0px 2px #999;

}

#banner{
width                  :1100px;
height                 :128px;
box-shadow: 0px 2px 0px 2px #999;
}

.titulo{
text-align             :center;
font-weight            :bold;
padding-right          :20px;
padding-top            :35px;
font-size              :20px;
margin-bottom          :20px;
}


label{
font-weight            :bold;
}

.pie{
	background-color       :#082683;
	/*background-color: maroon;*/
	font-size              :11px;
	padding                :3px;
	color                  :white;
	font-weight            :bold;
	box-shadow			   : 0px 2px 0px 2px #999;
}


.alert{
margin                 :5px 0 5px 0;
background-color       :#fef780;
color                  :red;

}

input[type='text']{
width                  :180px;
}

input[type='password']{
width                  :180px;
}

.titulo-banner{
	color: white;
    margin-top:         -30px;
    text-align:         left;
    padding-left:       133px;
    font-weight:        bold;
    font-size: 12px;
    font-family: Georgia;
}

a{
color                  :#010341;
text-decoration        :none;
}

a                      :hover{
color                  :blue;
text-decoration        :underline;
}

/* LISTADO DE APLICACIONES */
.listado_aplicaciones{
float                  :left;
width                  :200px;
height                 :130px;
text-align             :center;
margin-left            :73px;
}

.listado_aplicaciones:hover{
float                :left;
width                :200px;
height               :130px;
text-align           :center;
margin-left          :73px;
background-color     :#F4F7FC;
}

.listado_aplicaciones:hover img{
height               :90px;
}

.listado_aplicaciones img{
height               :75px;
}

.listado_aplicaciones a{
color                :#154E8A;
font-size            :16px;
}
/* FIN LISTADO DE APLICACIONES */

/* FORMULARIOS NEW */
.form-contenedor .labels{
float                  :left;
height                 :auto;
width                  :40%;
text-align             :right;
padding-right          :10px;
font-weight            :bold;
}

.form-contenedor{
margin-bottom          :5px;
}

.form-contenedor .widgets{
height                 :auto;
text-align             :left;
}

.form-contenedor ul{
text-align             :center;   
color                  :red;
font-weight            :bold;
}
/* FIN FORMULARIOS NEW */

/* FORMULARIOS */

	.formShow{
		border:1px solid gray ;
		width: 60%;
		padding: 20px;
		margin-bottom: 10px;
		border:3px outset;
		background-color: #fafcfe;
	}

	.formShow select{
		width: 200px;
	}

	.formShow .contenedorform input[type="text"]{
		width: 200px;
	}

	.formShow .contenedorform input[type="checkbox"]{
		margin-bottom: 10px;
	}

	.formShow textarea{
		width: 200px;
	}

	.formShow .contenedorform{
		margin-bottom:5px;
		padding: 5px;
		height: auto;
		overflow: visible;

	}

	.formShow .labelform {
		float                  :left;
		width                  :40%;
		text-align             :right;
		font-weight            :bold;
                padding: 4px;
		padding-right: 10px;
                

	}

	.formShow .widgetform {
		text-align: left;
		overflow: auto;
		text-align: justify;
                padding: 4px;

	}

/* FIN FORMULARIOS */

li{
list-style             :none;
}

img{

border                 :0;
}

input[type="text"]
{
width                  :220px;
/* Sólo afecto a los campos de texto */
}

select
{
width                  :220px;
/* Sólo afecto a los campos de texto */
}

textarea
{
width                  :220px;
/* Sólo afecto a los campos de texto */
}

input[type="number"]
{
	width                  :150px;
	padding-top: 100px;
/* Sólo afecto a los campos de texto */
}

input[type="date"]
{
width                  :220px;
/* Sólo afecto a los campos de texto */
}

input[type="email"]
{
width                  :220px;
/* Sólo afecto a los campos de texto */
}

select option[selected ="selected"]
{
background-color       : #0fa1e0;
/* Sólo afecto a los campos de texto */
}

select[multiple]
{
height                 :120px;
/* Sólo afecto a los campos de texto */
}


.divisor{

margin-top             :10px;
margin-bottom          :10px;
font-weight            :bold;
text-decoration        :underline;
font-size              :14px;
cursor                 :pointer;

}

#administracion_usuariobundle_usertype_rol label{
	font-size: 12px;
        display: block;
}


#administracion_usuariobundle_usertype_rol input{
	float: left;
	text-align: left;
	padding: 0px;
	margin: 0px;
}

.menu{
    padding-top: 12px;
    width: 1100px;
}

.errores{
    text-align: left;
    width: 800px;
}

