.inicio{
    text-align: justify;
    padding: 20px;
}

.estatusfondo{
    width: 900px;
    margin-bottom: 30px;
    font-size: 14px;
    font-family: Georgia;
}

.estatusfondo th{
    text-align: center;
    padding: 5px;
}

.estatusfondo td{
    padding: 2px;
}

.relaciongasto{
    width: 1098px;
    font-size: 12px;
    font-family: Georgia;
}

#relaciongastos_numerocomprobante{
    width: 50px;
}

#relaciongastos_montomonnac{
    width: 50px;
}

#relaciongastos_montodolar{
    width: 50px;    
}

#relaciongastos_identificacionfiscal{
    width: 100px;     
}

#relaciongastos_numerofactura{
    width: 100px;     
}

#relaciongastos_fechafactura{
    width: 100px;  
}

#relaciongastos_nombrerazonsocial{
    width: 110px;
}